@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    font-size: 62.5%;
    background-image: radial-gradient(circle, #1CB5E0 0%, #000851 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    background-image: radial-gradient(circle, #1CB5E0 0%, #000851 100%);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#app-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#session-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#session-heading {
   text-align: center;
   margin-bottom: 10vh;
}

#timer-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    border: 4px solid black;
    border-radius: 50%;
}

#break-label, #session-label {
    display: flex;
    width: 15rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.control-element {
    margin: 0.5rem;
}

#break-increment, #break-decrement, #session-increment, #session-decrement {
    text-align: center;
    background-color: transparent;
    font-size: 4rem;
    outline: none;
    box-shadow: none;
}

#break-decrement, #session-decrement {
    color: white;
}


@keyframes hover-transform {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.3);
    }
}

#break-increment:hover, #break-decrement:hover, #session-increment:hover, #session-decrement:hover, #start_stop:hover, #reset:hover  {
    animation-name: hover-transform;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}

.label-text {
    font-size: 1.5rem;
}

#timer-label {
    font-size: 3rem;
}

#time-left {
    font-size: 4rem;
}

#buttons {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
}

#start_stop, #reset {
    font-size: 2rem;
    height: 4rem;
    width: 7rem;
    border: 1px solid black;
    outline: none;
    box-shadow: none;
}

#reset {
    font-size: 2rem;
    height: 4rem;
    width: 7rem;
    border: 1px solid white;
    color: white;
}

@media only screen and (min-width: 1px) and (max-width: 600px) {
    #session-heading {
        font-weight: 300;
     }
    #break-label, #session-label {
        width: 22vw;
        text-align: center;
    }
    #timer-circle {
        border: 2px solid black;
    }
    #break-length, #session-length {
        font-size: 3.25rem;
    }
}

@media only screen and (min-height: 350px) and (max-height: 600px) {
    #session-heading {
        font-size: 3.5rem;
        margin-bottom: 5vh;
     }
    #break-text, #session-text {
        white-space: nowrap;
    }
    #break-length, #session-length {
        font-size: 3.25rem;
    }
    #buttons {
        margin-top: 1vh;
    }
    #timer-circle {
        border: 2px solid black;
    }
}

@media only screen and (min-height: 300px) and (max-height: 349px) {
    #session-heading {
        display: none;
    }
     #break-text, #session-text {
        white-space: nowrap;
    }
    #break-length, #session-length {
        font-size: 3.25rem;
    }
     #buttons {
        margin-top: 0;
    }
    #timer-circle {
        border: 2px solid black;
    }
}

@media only screen and (min-height: 0px) and (max-height: 299px) {
    #session-heading {
        display: none;
     }
     #buttons {
        margin-top: 0;
    }
    #break-text, #session-text {
        white-space: nowrap;
    }
    #break-length, #session-length {
        font-size: 2.75rem;
    }
    #timer-circle {
        width: 15rem;
        height: 15rem;
        border: 2px solid black;
    }

    #timer-label, #time-left {
        font-size: 2.5rem;
    }

    #break-label, #session-label {
        width: 10rem;
    }
    
    .control-element {
        margin: 0;
    }

}